placeholder {
  color: #c6d2db;
}

.headerProfil {
  text-align: center;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.headerProfilName {
  margin-top: 0;
  margin-bottom: 20px;
}
.editButton {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  margin-bottom: 30px;
  font-weight: bold;
  padding: 10px;
}

.userButton {
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}

.profilInputs {
  padding: 8px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  width: 380px;
}

.transactionButton {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.editProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.editProfilInputs {
  width: 365px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 0rem;
}

#firstName {
  border-radius: 5px;
  border: solid 2px;
  height: 30px;
  color: #c6d2db;
}

#lastName {
  border-radius: 5px;
  border: solid 2px;
  height: 30px;
  color: #c6d2db;
}

.applyButtons {
  width: 260px;
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 0rem;
}
