@import '../../index.scss';

.hero {
  background-image: url('../../assets/images/bank-tree.jpeg');
  background-position: 0 -350px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 4rem;
  width: 250px;
  background: white;
  padding: 0.5rem;
  right: 25%;
  border-radius: 15px;
}

.subtitle {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2rem;
}

.textPromoted {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

@media all and (max-width: 1024px) {
  .hero {
    background-image: url('../../assets/images/bank-tree-1024.jpeg');
    background-position: 0 -150px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;
  }

  .content {
    top: 2.5rem;
    width: 280px;
    padding: 0.5rem;
    right: 2%;
    border: 1px solid #00bc77;
  }

  .subtitle {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}

@media all and (max-width: 768px) {
  h2 {
    font-size: 1.5rem !important;
  }
  .hero {
    background-image: url('../../assets/images/bank-tree-768.jpeg');
    background-position: 0 -50px;
    height: 450px;
  }

  .content {
    top: 8.5rem;
    width: 180px;
    padding: 0.5rem;
    right: 2%;
    border: 1px solid #00bc77;
  }
}

@media all and (max-width: 468px) {
  .hero {
    background-image: url('../../assets/images/bank-tree-468.jpeg');
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
  }

  .content {
    top: 2rem;
    width: 240px;
    padding: 2rem;
    right: 15%;
  }
}
